.element__like-button {
  width: 22px;
  height: 19px;
  background: transparent;
  background-image: url('../../../images/heart-element.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  border: none;
  cursor: pointer;
  transition: opacity .2s ease-in;
}

.element__like-button:hover {
  opacity: .5;
}
