.popup {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transition: visibility .30s, opacity .25s ease-in;
}
